html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 


}


#Menu {
}


.navbar-default { 
  background-color: #DEE9FF;
}

.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
  background-color: #006DCC;
  color: white;
 }

.navbar-default .navbar-nav > li > a { 
  color: #454545;
  font-size: 15px;
}

.navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  background-color: #DEE9FF;
  color: #454545;
  font-size: 15px; 
}

.navbar-nav .open .dropdown-menu > li > a {
  color: #454545 !important;
  font-size: 15px;
}



#one {
  background-color: lightgrey;
  overflow:hidden;
  height: 100% !important;
  margin: 0px;
  padding: 0px;
}

#two {
  float: right;
  background-color: grey;
  height: 100% !important;
  margin: 0px;
  padding: 0px;
}

.ui-layout-pane { 
  overflow: hidden;
}

#canvasGraph {  
  margin-left: auto;
  margin-right: auto;
  display: block;

}

#canvasControls {
  margin-bottom: -5px;

}



.ui-layout-pane {
    border: none !important;
}

.ui-layout-resizer {
    background-color: #C0C0C0 !important;
    height: 100% !important;

}

.ui-layout-resizer:hover {
    background-color: #A8A8A8 !important;
    height: 100% !important;

}


.ui-layout-resizer-drag {
    background-color: blue !important;
}










#text { 
  margin-top: 0em !important;
  margin-bottom: 0em !important;

    padding-top: 0em !important;

  width: 100%;

  height: 80%;

  padding: none;

  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text; 
}








#textTitle { 

  background-color: white;

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
  
  padding-left: 20px;


  height: 30px;

  margin: 0px;
 
  color: black;

  font-weight: bold;

  font-size: 18px !important;

}



#textDiv {


  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  
  background-color: white;

  width: 100%;

  height: 100% !important;

  padding: 20px !important; 
  padding-top: 5px !important;

  font-family: Helvetica;

  font-size: 16px !important;
 
  line-height: 1.375;

}

.textPara { 

  padding-bottom: 2px;
}








