html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 

  min-width: 775px;
  min-height: 400px;  
}



.navbar-default { 
  background-color: #DEE9FF;
  border: none;
}

.navbar {
  height: 60px !important
}

#menu-primary-navigation {
  margin-left: 25px;
}

@media (min-width: 767px)  {
  #navigationBar { 
    margin-left: 60px;
  }
}

@media (max-width: 767px)  {
  #navigationBar { 
    margin-left: 300px;
  }
}

.navbar-default .navbar-nav > li > a { 
  color: #454545;
  font-size: 15px;
}

.navbar-default .navbar-nav > li > a:hover { 
  color: black;
}

.menu-item:hover { 
  background-color: #D6E4FF;
}

.navbar-default .navbar-nav > .active > a, 
 .navbar-default .navbar-nav > .active > a:hover, 
 .navbar-default .navbar-nav > .active > a:focus {
      background-color: #006DCC;
      color: white;
 }


 .dropdown:hover .dropdown-menu {
  display: block;
}


.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #D6E4FF;
}

.dropdown-menu {
    border: none;
    padding: 0px;
}

.single { 
  padding-top: 20px !important;
  height: 60px;
}

.break { 
  height: 60px;
  line-height: 18px !important;
  padding-top: 12px !important;
  text-indent: 5px;
}



#one {
  background-color: white;
  overflow:hidden;
  height: 100% !important;
  margin: 0px;
  padding: 0px;
}

#two {
  float: right;
  background-color: #FDFDFD;
  height: 100% !important;
  margin: 0px;
  padding: 0px;
}

.ui-layout-pane { 
  overflow: hidden;
}

#canvasGraph {  
  margin-left: auto;
  margin-right: auto;
  display: block;
}

#canvasControls {

}

#controls { 
  width: 100%;
  height: 100%
}



#doubleContainer {
  width: 100%;
  height: 90px;

  margin-top: 0em !important;
  margin-bottom: 5px !important;

}



#equationsDiv {
    height: 100%;
    background-color: #FDFDFD;
    padding-top: 3px;
    float: left;
    width: 50%;
}


#sliderDiv {
    height: 100%;
    background-color: #FDFDFD;
    width: 50%;
    float: left;
}





#vectorDiv { 

  width: 100%;
  height: 40px;

  font-family: Helvetica;

  /* Set to -5px to fill the gap */
  margin-top: 0px !important;

  /* Set to 0px to fill the gap */
  margin-bottom: 5px !important;
}



#equationsTable {
  width: 100%;
  height: 100%;

  font-family: Helvetica;

  background-color: #FDFDFD;
}



.equationBox { 
  padding-top: 0px !important;
  padding-bottom: 0px !important;

}

.equation {
 margin-top: 0em !important;
 margin-bottom: 0em !important;
 -webkit-margin-before: 0em !important;
 -webkit-margin-after: 0em !important;

 background-color: #FDFDFD;
 padding-bottom: 6px;
 padding-top: 6px;
}

#EqProd {
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

#EqSS {
  text-align: center;
  width: 100%;
  white-space: nowrap;
}

#rangeTable {
  width: 100%;
  height: 100%;
}


.sliderRow { 

height: 20px !important;

}

.symbol {
  width: 15px !important;
  text-align: left;
  padding-right: 8px;
  padding-top: 0px !important;
}

.symbolText {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  padding: 0px !important;
  font-size: 19px;
  line-height: 60% !important;
  margin-bottom: 1px !important;
}

.sliderInput {
  cursor: pointer; 
  padding-right: 18px;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}



/* The automatically generated CSS for the input range sliders */

/*    margin: 4.45px 0; for the first paragraph originally: was changed for firefox; */

/*   !!!!!!!!!   DELETE ALL THE CURSOR PROPERTIES !!!!!!!!!!!!!!!!! */


input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 3px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #cccccc;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 9px;
  border-radius: 2px;
  background: #006dcc;
  -webkit-appearance: none;
  margin-top: -3px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #d9d9d9;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 4px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
  background: #cccccc;
  border-radius: 1.3px;
  border: 0px solid #010101;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 9px;
  border-radius: 2px;
  background: #006dcc;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 4px;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #bfbfbf;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #cccccc;
  border: 0px solid #010101;
  border-radius: 2.6px;
  box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 0px 0px 1px #000000, 0px 0px 0px #0d0d0d;
  border: 0px solid #000000;
  height: 10px;
  width: 9px;
  border-radius: 2px;
  background: #006dcc;
  height: 4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #cccccc;
}
input[type=range]:focus::-ms-fill-upper {
  background: #d9d9d9;
}








.table {
  width: 100%;
  height: 100%;
  margin: 0em !important;
}

#tableContainerDiv { 
  padding: 0px !important;
  padding-left: 12px !important;
  padding-right: 12px !important;
  width: 100%;
  height: 100%;
  background-color: #FDFDFD;
}

table td {
  border-top: none !important;
}


.cell { 
  width: 19%;
  padding: 0px !important;
 
  margin-top: 0px !important;


 /* display: inline-block; */
}

#MPKcell { 
  width: 24% !important;
  padding: 0px !important;
}

.data {
  font-size: 18px;
  text-align: center;
  margin: 0em !important;

  padding-left: 0em !important;
  padding-right: 0em !important;

  padding-top: 9px !important;
  padding-bottom: 9px !important;


  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}



#text { 
  margin-top: 0em !important;
  margin-bottom: 0em !important;
  width: 100%;
  padding: none;

  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text; 
}


#titleDiv { 
  margin-top: 0em !important;
  margin-bottom: 0em !important;
  
  padding-left: 20px;  
  padding-top: 14px;

  height:44px;

  font-size: 20px;
  font-weight: 900;

  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: #FDFDFD;

}

#textDiv {
  background-color: #FDFDFD;
  overflow: auto;
  font-family: Helvetica;
  font-size: 16px;

  width: 100%;
 
  padding: 20px; 

  padding-top: 8px !important;

  line-height: 150%;

  display: inline-block;

  height: -moz-calc(100% - 40px);
  height: -webkit-calc(100% - 40px);
  height: -o-calc(100% - 40px);
  height: calc(100% - 40px);

}

#textTitle { 
  
  width: -moz-calc(100% - 42px);
  width: -webkit-calc(100% - 42px);
  width: -o-calc(100% - 42px);
  width: calc(100% - 42px);

  color: black;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}


#forward, #back { 
  /* cursor: pointer; */
  font-size: 25px;
  color: rgb(80,80,80);

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
}



.textPara { 
  margin-top: 0em !important;
  margin-bottom: 10px !important;
}


.tooltipClass { 
  background-color: #e6f3f7; 
  color: black;
  cursor: pointer;
  font-weight: 500;
}

.tooltipClass:hover { 
  background-color: #cde7f0; 
  color: black;
}

.tooltip-inner {
    white-space: pre-wrap;
    min-width: 20px;
}


.ui-layout-pane {
    border: none !important;
}

.ui-layout-resizer {
    background-color: #DEE9FF !important;
    height: 100% !important;

}

.ui-layout-resizer:hover {
    background-color: #D6E4FF !important;
    height: 100% !important;

}


.ui-layout-resizer-drag {
    background-color: #006DCC !important;

}



